ul.is-unstyled {
    list-style: none;
}

li.is-inlined {
    display: inline;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

figure img {
    border: solid whitesmoke;
}

.fc-day-number{
    color: white;
}
.fc-more{
    color: white;
}
.fc-left{
    color: white;
}
.fc-today{
    background: lightgray !important;
}
.only-timepicker .datepicker--nav,
.only-timepicker .datepicker--content {
    display: none;
}
.only-timepicker .datepicker--time {
    border-top: none;
}

.datepicker{
    width:100%;
}